<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		marquee{
			font-weight: bold;
			font-style: italic;
			font-size: 30px; 
		}

		#click_here{
			margin-right: 0px;
			margin-top: 200px;
			font-weight: bold;
			font-size: 30px;
		}

	</style>
	<title>Signup_Success</title>
</head>
<body bgcolor="powderblue">
	<marquee>CONGRATULATIONS!! YOU ARE SIGNED UP..</marquee>
	<div id="click_here"  align="center">Click <a href="https://192.168.100.16:8000/"><u>here</u></a> to continue</div>

</body>
</html>